<!--<div class="main-wrapper pet profile">
  <div class="crumb">
    <div class="container">
      <h1>
        Adopt <span class="wow pulse" data-wow-delay="1s"> Pet </span>
      </h1>
      <div class="bg_tran">
        Adopt Pet
      </div>
      <p>
        <a href="index-5.html" title="Home">HOME</a>
        || <span> PETS </span>
      </p>
    </div>
  </div>
  <section class="profile">
    <div class="container">
      <div class="slide">
        <div class="row">
          <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="new_custom images">
              <div class="owl-carousel">
                <div class="item">
                  <div class="testimon">
                    <div class="image">
                      <img src="https://localhost:7269/api/Animals1/getImages/{{animalDetails.image1}}" alt="{{animalDetails.name}}" class="img-fluid customer" />

                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimon">
                    <div class="image">
                      <img src="https://localhost:7269/api/Animals1/getImages/{{animalDetails.image2}}" alt="{{animalDetails.name}}" class="img-fluid customer" />

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="spec">
              <div class="name">
                <h3>Name: <span> {{animalDetails.name}} </span></h3>
              </div>
              <ul>
                <li><i class="fas fa-paw yellow me-2"></i> Age: {{animalDetails.age}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> Breed:{{animalDetails.breed}} </li>
                <li><i class="fas fa-paw yellow me-2"></i> Temperament:{{animalDetails.temperament}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> Size: {{animalDetails.size}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> Description: {{animalDetails.description}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> Special Needs: {{animalDetails.specialNeeds}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> Adoption Status: {{animalDetails.adoptionStatus}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> Shelter Name: {{animalDetails.shelter.shelterName}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> Shelter Address: {{animalDetails.shelter.address}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> Shelter phone: {{animalDetails.shelter.phone}}</li>
              </ul>
              <div class="button">
                <a (click)="checkUserLogin(animalDetails.animalId)" class="btn main" title="Adopt">
                  Adopt <i class="fas fa-paw"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>-->



<div class="main-wrapper pet profile">
  <div class="crumb">
    <div class="container">
      <h1>
        Adopt <span class="wow pulse" data-wow-delay="1s"> Pet </span>
      </h1>
      <div class="bg_tran">
        Adopt Pet
      </div>
      <p>
        <a href="index-5.html" title="Home">HOME</a>
        || <span> Animal Details </span>
      </p>
    </div>
  </div>

  <section class="profile">
    <div class="container">
      <div class="slide">
        <div class="row">
          <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="new_custom images" *ngIf="animalDetails">
              <div class="owl-carousel">
                <div class="item" *ngIf="animalDetails.image1; else noImage1">
                  <div class="testimon">
                    <div class="image">
                      <img class="animal-image" [src]="'https://localhost:7269/api/Animals1/getImages/' + animalDetails.image1" alt="{{ animalDetails.name }}" />
                    </div>
                  </div>
                </div>
                <ng-template #noImage1>
                  <p>No image available for image1</p>
                </ng-template>

               


              </div>
            </div>
          </div>

          <div class="col-lg-5 col-md-12 col-sm-12" *ngIf="animalDetails">
            <div class="spec">
              <div class="name">
                <h3>Name: <span> {{animalDetails.name}} </span></h3>
              </div>
              <ul>
                <li><i class="fas fa-paw yellow me-2"></i> <span>Age:</span> {{animalDetails.age}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> <span>Breed:</span> {{animalDetails.breed}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> <span>Temperament:</span> {{animalDetails.temperament}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> <span>Size:</span> {{animalDetails.size}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> <span>Description:</span> {{animalDetails.description}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> <span>Special Needs:</span> {{animalDetails.specialNeeds}}</li>
                <li><i class="fas fa-paw yellow me-2"></i> <span>Adoption Status:</span> {{animalDetails.adoptionStatus}}</li>
                <!-- Check if shelter exists -->
                <li *ngIf="animalDetails.shelter"><i class="fas fa-paw yellow me-2"></i> <span>Shelter Name:</span> {{animalDetails.shelter.shelterName}}</li>
                <li *ngIf="animalDetails.shelter"><i class="fas fa-paw yellow me-2"></i> <span>Shelter Address:</span> {{animalDetails.shelter.address}}</li>
                <li *ngIf="animalDetails.shelter"><i class="fas fa-paw yellow me-2"></i> <span>Shelter Phone:</span> {{animalDetails.shelter.phone}}</li>
              </ul>
              <div class="button" *ngIf="animalDetails.adoptionStatus != 'Adopted'">
                <a (click)="checkUserLogin(animalDetails.animalId)" class="btn main" title="Adopt">
                  Adopt <i class="fas fa-paw"></i>
                </a>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>

