
<div class="page-wrapper">
  <!-- Preloader -->
  <!--Page Title-->
  <section class="page-title" style="background-image: url(assets/images/background/7.jpg)">
    <div class="auto-container">
      <div class="clearfix">
        <div class="pull-left">
          <h1>About me</h1>
        </div>
        <div class="pull-right">
          <ul class="page-breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>About me</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--End Page Title-->
  <!--Welcome Section-->
  <section class="welcome-section">
    <div class="auto-container">
      <!--Sec Title-->
      <div class="sec-title centered">
        <div class="separator">
          <span class="icon flaticon-pawprint-1"></span>
        </div>
        <div class="title">Because We Really Love Animals</div>
        <h2>Welcome to Pawrex</h2>
      </div>
      <div class="row clearfix">
        <!--Image Column-->
        <div class="image-column col-md-6 col-sm-12 col-xs-12">
          <div class="image">
            <img src="assets/images/resource/welcome.jpg" alt="" />
          </div>
        </div>
        <!--Content Column-->
        <div class="content-column col-md-6 col-sm-12 col-xs-12">
          <div class="inner-column">
            <div class="text">



              <p>
                Welcome to Paw Pex, the place where hearts meet, bringing together people who are passionate about giving animals a loving home. We are here to help you find the perfect companion to fill your life with joy and unconditional love.
              </p>
              <p>
                Our Mission
                We believe every animal deserves a safe, loving home. Our mission is to create a trusted platform that connects individuals looking to welcome a pet into their family with animals in need of a warm, caring environment. Through an easy-to-use and secure platform, we strive to make a meaningful difference in the lives of both animals and people.
              </p>
            </div>
            <ul class="list-style-one">
              <li> Comprehensive Information: We aim to equip potential adopters with accurate details about each pet</li>
              <li>Our goal is to ensure that adopters are fully prepared to care for their new friend</li>

            </ul>

            <a routerLink="/ShowAnimals" class="theme-btn btn-style-two">view Animals</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Welcome Section-->
  <!-- Featured Section -->
  <section class="featured-section" style="background-image: url(assets/images/background/2.png)">
    <div class="auto-container">
      <div class="row clearfix">
        <!-- Featured Block: Animal Adoption -->
        <div class="featured-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="0ms">
            <div class="content">
              <div class="icon-box">
                <span class="icon flaticon-dog-bone"></span>
              </div>
              <h3><a href="#">Find Your Forever Friend</a></h3>
              <div class="text">Browse our list of animals waiting for adoption.</div>
            </div>
          </div>
        </div>
        <!-- Featured Block: Success Stories -->
        <div class="featured-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
            <div class="content">
              <div class="icon-box">
                <span class="icon flaticon-heart"></span>
              </div>
              <h3><a href="#">Share Your Success Story</a></h3>
              <div class="text">Inspire others by sharing your adoption experience.</div>
            </div>
          </div>
        </div>
        <!-- Featured Block: Learn About Adoption -->
        <div class="featured-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box wow fadeInLeft" data-wow-duration="2500ms" data-wow-delay="0ms">
            <div class="content">
              <div class="icon-box">
                <span class="icon flaticon-info"></span> <!-- Consider using an icon relevant to information or education -->
              </div>
              <h3><a href="#">Learn About Adoption</a></h3>
              <div class="text">Discover the benefits of adopting and tips for new pet owners.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Featured Section -->


</div>

